@import '../../variables.scss';

@keyframes ldio-rnybq3wpv4 {
  0% { transform: translate(12px,80px) scale(0); }
  25% { transform: translate(12px,80px) scale(0); }
  50% { transform: translate(12px,80px) scale(1); }
  75% { transform: translate(80px,80px) scale(1); }
  100% { transform: translate(148px,80px) scale(1); }
}
@keyframes ldio-rnybq3wpv4-r {
  0% { transform: translate(148px,80px) scale(1); }
  100% { transform: translate(148px,80px) scale(0); }
}
@keyframes ldio-rnybq3wpv4-c {
  0% { background: #e15b64 }
  25% { background: #abbd81 }
  50% { background: #f8b26a }
  75% { background: #f47e60 }
  100% { background: #e15b64 }
}
.ldio-rnybq3wpv4 div {
  position: absolute;
  width: 40px;
  height: 20px;
  border-radius: 50%;
  transform: translate(80px,80px) scale(1);
  background: #e15b64;
  animation: ldio-rnybq3wpv4 1s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-rnybq3wpv4 div:nth-child(1) {
  background: #f47e60;
  transform: translate(148px,80px) scale(1);
  animation: ldio-rnybq3wpv4-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), ldio-rnybq3wpv4-c 1s infinite step-start;
}.ldio-rnybq3wpv4 div:nth-child(2) {
   animation-delay: -0.25s;
   background: #e15b64;
 }.ldio-rnybq3wpv4 div:nth-child(3) {
    animation-delay: -0.5s;
    background: #f47e60;
  }.ldio-rnybq3wpv4 div:nth-child(4) {
     animation-delay: -0.75s;
     background: #f8b26a;
   }.ldio-rnybq3wpv4 div:nth-child(5) {
      animation-delay: -1s;
      background: #abbd81;
    }
.loadingio-spinner-ellipsis-esvthtwa5b5 {
  display: inline-block;
  overflow: hidden;
  background: $color-background;
}
.ldio-rnybq3wpv4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top:20px;
  left:38%;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-rnybq3wpv4 div { box-sizing: content-box; }