@import "../../variables";

.tabs__container {
  max-width: 502px;
  margin-bottom: 20px;
}

.btn-group{
  border: 1px solid #DFE5EC;
}

.tab__btn{
  background: $color-secondary;
  border: none;
  width: 168px;
  height: 50px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
